@charset "UTF-8";

html, h1, h2, h3, h4, h5, h6, a{
    font-family: "arial";
}

body{
    background-color: #333;
    color: white    ;
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.btn-populares, button{
    display: inline-block;
    padding: .9em 2.5em;
    background: #04AA6D;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font: bold;
}


/* ESTILO DO MENU DE OPCOES */
.menutop {
    background-color: #333;
    overflow: hidden;
    
  }
  
  .menutop a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    font-size: 17px;
  
  }
  
  
  .menutop a:hover {
    background-color: #ddd;
    color: black;
    
  }
  
 
  .menutop a.ativo {
    background-color: #04AA6D;
    color: white;
    
  }
  /* FIM DO ESTILO DO MENU DE OPCOES */
  
  /* ESTILO DO SLIDER DE IMAGEM BANNER */

  
.imagem-principal{
    width: 100%;
    height: 545px;
    overflow: hidden;
}

.fundo-principal{
   
    width: 100%;
}

/* FIM DO ESTILO DO SLIDER DE IMAGEM BANNER */

.banner-principal{
    text-align: center;
    height: 100%;
    width: 100%;
    font: bold;
    overflow: hidden;
}


.footer{
    background-color:#333;
    padding: 50px 100px;
    color: white;
    font-size: 14px;
    
}

.footer__links li{
    list-style: none;
}
.footer__links a{
    color: white;
    display: block;
    font-weight: 600;
    text-decoration:none;
}

.footer_cont li{
    color: white;
    display: block;
    font-weight: 600;
    text-decoration:none;
}


.linhas{
    width: 80%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px 30px;
    margin: 40px 0px 40px 40px; 
}

.linhas .esquerda{
    overflow: hidden;
}

.linhas .esquerda img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.linhas .direita .conteudo{
    padding-left: 20px;
}

.linhas .direita .conteudo p{
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 15px;

}

@media screen and (max-width: 768px){
    .linhas{
        width: 90%;
        grid-template-columns: 1fr;
    }
    .footer .container{
        display:flex;
    }
    .footer .container > * {
        margin: 1.5em;
    }
    
}





