@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    background-color: #333;
    color: white    ;
    width: 100%;
    min-height: 100vh;
    display: grid;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.btn-populares, button{
    display: inline-block;
    padding: .9em 2.5em;
    background: #04AA6D;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font: bold;
}
  
.imagem-principal{
    width: 100%;
    height: 400PX;
    overflow: hidden;
}

.fundo-principal{
   height: 100%;
    width: 100%;
}

.banner-principal{
    text-align: center;
    height: 100%;
    width: 100%;
    font: bold;
    overflow: hidden;
}

hr.solid {
    border-top: 3px solid white;
  }

/* ESTILO DO MENU DE OPCOES */
.menutop {
    background-color: #333;
    overflow: hidden;
    
  }
  
  .menutop a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    font-size: 17px;
    
  }
  
  
  .menutop a:hover {
    background-color: #ddd;
    color: black;
   
  }
  
 
  .menutop a.ativo {
    background-color: #04AA6D;
    color: white;
   
  }
  /* FIM DO ESTILO DO MENU DE OPCOES */


/* ESTILO DAS AVENTURAS POPULARES */

.linhas{
    width: 80%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px 30px;
    margin: 40px 0px 40px 40px; 
    
}

.linhas .esquerda{
    overflow: hidden;
}

.linhas .esquerda img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.linhas .direita .conteudo{
    padding-left: 20px;
}

.linhas .direita .conteudo p{
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 15px;

}

/* FIM DO ESTILO DAS AVENTURAS POPULARES */

/* ESTILO RODAPE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.footer{
    background-color:#333;
    padding: 30px 0px 0px 0px;
    margin-bottom: 15px;
    color: white;
    font-size: 14px;
    height: 250px;
    
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
   font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #04AA6D;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
 }  

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #04AA6D;
    padding-left: 8px;
    
}

.logo-ftec{
    display: inline-block;
    height: 40px;
    width: 60px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color:#04AA6D;
    transition: all 0.5s ease;
    
}

/* FIM DO ESTILO RODAPE */

/* responsividade */

@media screen and (max-width: 768px){
    .linhas{
        width: 90%;
        grid-template-columns: 1fr;
    }
    .footer-col{
        width: 25%;
        margin-bottom: 30px;
    }
}


@media screen and (max-width: 574px){
    .footer-col{
        width: 100%;
    }
}
